---
title: "Luxury Estates"
bodyClass: bg-blue-le-900
preheader: "Jane, here's what I found for you"
googleFonts: "Raleway:300,300i,400,400i,500,500i,600,600i,700,700i"
---

{% block template %}
<table class="wrapper w-full all-font-raleway bg-blue-le-900">
  <tr>
    <td align="center" class="py-50 px-10 sm-p-10 align-top">
      <table class="w-650 sm-w-full">
        <tr>
          <td class="w-650 sm-w-full rounded-12 bg-blue-le-800">
            <!-- Header -->
            <table class="w-full">
              <tr>
                <td class="rounded-12 bg-blue-le-700">
                  <table class="w-full">
                    <!-- Top Bar -->
                    <tr>
                      <td class="py-20 px-30 sm-py-30 sm-px-15">
                        <table class="w-full">
                          <tr>
                            <td class="w-180 text-left">
                              <a href="https://example.com" class="no-underline">
                                <img src="luxury-estates/logo.png" width="160" alt="LuxuryEstates">
                              </a>
                            </td>
                            <td align="right">
                              <table>
                                <tr>
                                  <td class="w-22 text-left">
                                    <img src="luxury-estates/ico_web.jpg" width="14" alt="">
                                  </td>
                                  <td class="text-13 leading-18 text-left align-bottom">
                                    <a href="https://example.com" target="_blank" class="no-underline hover-underline text-white all-font-sans">
                                      <span class="no-underline text-white">view online</span>
                                    </a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <!-- END Top Bar -->
                    <!-- Person Info -->
                    <tr>
                      <td>
                        <table class="w-full">
                          <tr>
                            <td class="p-30 pl-50 sm-py-30 sm-px-15 bg-blue-le-100 rounded-12">
                              <table class="w-full">
                                <tr>
                                  <td class="w-80 text-left">
                                    <img src="luxury-estates/person_image.jpg" width="80" alt="Andrew Simpson">
                                  </td>
                                  <td class="pl-30 sm-pl-15">
                                    <table class="w-full">
                                      <tr>
                                        <td class="pb-15 text-22 leading-28 text-left font-medium text-white">Andrew Simpson</td>
                                      </tr>
                                      <tr>
                                        <td class="text-12 leading-16 text-left uppercase text-white">Your personal real estate broker</td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td class="pb-45 pl-65 sm-pb-25 text-0 text-left">
                              <img src="luxury-estates/blue_arrow.jpg" width="37">
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <!-- Person Info -->
                    <!-- Welcome -->
                    <tr>
                      <td class="px-50 pb-45 sm-px-15 sm-pb-30">
                        <table class="w-full">
                          <tr>
                            <td class="pb-25 text-left">
                              <h1 class="m-0 text-32 leading-36 font-medium text-white">Hey, Jane!</h1>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-left">
                              <p class="m-0 text-15 leading-28 text-white all-font-sans">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <!-- END Welcome -->
                  </table>
                </td>
              </tr>
            </table>
            <!-- END Header -->

            <!-- Main -->
            <table class="w-full">
              <tr>
                <td class="p-50 pb-0 sm-py-30 sm-px-15">
                  <!-- Heading -->
                  <table class="w-full">
                    <tr>
                      <td class="pb-25 text-left">
                        <h3 class="m-0 text-22 leading-28 font-medium text-blue-le-50">Here's what I found for you:</h3>
                      </td>
                    </tr>
                    <tr>
                      <td class="pb-45 text-left">
                        <table class="w-50">
                          <tr>
                            <td>
                              <div class="bg-blue-le-100 h-3 leading-3">&nbsp;</div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <!-- END Heading -->

                  <!-- Article 1 -->
                  <table class="w-full">
                    <tr>
                      <td class="pb-35 text-left">
                        <h4 class="m-0 text-20 leading-26 font-semibold text-white">4578 Marmora Road, Glasgow D04 89GR</h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="pb-35">
                        <table class="w-full">
                          <tr>
                            <th class="w-275 sm-block sm-w-full sm-pb-25 rounded-12">
                              <img src="luxury-estates/image1.jpg" width="275" alt="Marmora Road: Kitchen" class="sm-w-full rounded-12">
                            </th>
                            <th class="pl-50 sm-p-0 sm-block sm-w-full font-normal">
                              <table class="w-full">
                                <tr>
                                  <td class="pb-6">
                                    <table class="w-full">
                                      <tr>
                                        <td class="w-24">
                                          <table class="w-8">
                                            <tr>
                                              <td>
                                                <div class="bg-blue-le-100 h-3 leading-3">&nbsp;</div>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td class="text-left">
                                          <p class="m-0 text-15 leading-28 text-white all-font-sans">2-bedroom apartment</p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="pb-6">
                                    <table class="w-full">
                                      <tr>
                                        <td class="w-24">
                                          <table class="w-8">
                                            <tr>
                                              <td>
                                                <div class="bg-blue-le-100 h-3 leading-3">&nbsp;</div>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td class="text-left">
                                          <p class="m-0 text-15 leading-28 text-white all-font-sans">1 bed, 1 bath, 700sqft</p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="pb-6">
                                    <table class="w-full">
                                      <tr>
                                        <td class="w-24">
                                          <table class="w-8">
                                            <tr>
                                              <td>
                                                <div class="bg-blue-le-100 h-3 leading-3">&nbsp;</div>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td class="text-left">
                                          <p class="m-0 text-15 leading-28 text-white all-font-sans">Nicely Updated Kitchen</p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="pb-6">
                                    <table class="w-full">
                                      <tr>
                                        <td class="w-24">
                                          <table class="w-8">
                                            <tr>
                                              <td>
                                                <div class="bg-blue-le-100 h-3 leading-3">&nbsp;</div>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td class="text-left">
                                          <p class="m-0 text-15 leading-28 text-white all-font-sans">Newly Updated Bathroom</p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="pb-6">
                                    <table class="w-full">
                                      <tr>
                                        <td class="w-24">
                                          <table class="w-8">
                                            <tr>
                                              <td>
                                                <div class="bg-blue-le-100 h-3 leading-3">&nbsp;</div>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td class="text-left">
                                          <p class="m-0 text-15 leading-28 text-white all-font-sans">Hardwood Flooring</p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="pb-6">
                                    <table class="w-full">
                                      <tr>
                                        <td class="w-24">
                                          <table class="w-8">
                                            <tr>
                                              <td>
                                                <div class="bg-blue-le-100 h-3 leading-3">&nbsp;</div>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td class="text-left">
                                          <p class="m-0 text-15 leading-28 text-white all-font-sans">Large King Sized Bedroom</p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="pb-35 text-left">
                        <p class="m-0 text-15 leading-28 text-white all-font-sans">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" class="pb-35">
                        <table class="rounded-10 bg-blue-le-900">
                          <tr>
                            <td>
                              <table class="w-full">
                                <tr>
                                  <td class="py-10 px-20 leading-22 text-left font-bold text-white">
                                    <span class="text-18">$2,000</span>
                                    <span class="text-14 font-normal">/mo</span>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td>
                              <table>
                                <tr>
                                  <th class="bg-blue-le-100 hover-bg-blue-le-700 rounded-12" style="mso-padding-alt: 12px 25px;">
                                    <a href="https://example.com" class="block py-12 px-25 text-14 leading-20 no-underline text-white">MORE DETAILS</a>
                                  </th>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="h-40 sm-hidden"></td>
                    </tr>
                  </table>
                  <!-- END Article 1 -->

                  <!-- Article 2 -->
                  <table class="w-full">
                    <tr>
                      <td class="pb-35 text-left">
                        <h4 class="m-0 text-20 leading-26 font-semibold text-white">4578 Marmora Road, Glasgow D04 89GR</h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="pb-35">
                        <table class="w-full">
                          <tr>
                            <th class="w-275 sm-block sm-w-full sm-pb-25 rounded-12">
                              <img src="luxury-estates/image2.jpg" width="275" alt="Marmora Road: Studio" class="sm-w-full rounded-12">
                            </th>
                            <th class="pl-50 sm-p-0 sm-block sm-w-full font-normal">
                              <table class="w-full">
                                <tr>
                                  <td class="pb-6">
                                    <table class="w-full">
                                      <tr>
                                        <td class="w-24">
                                          <table class="w-8">
                                            <tr>
                                              <td>
                                                <div class="bg-blue-le-100 h-3 leading-3">&nbsp;</div>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td class="text-left">
                                          <p class="m-0 text-15 leading-28 text-white all-font-sans">2-bedroom apartment</p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="pb-6">
                                    <table class="w-full">
                                      <tr>
                                        <td class="w-24">
                                          <table class="w-8">
                                            <tr>
                                              <td>
                                                <div class="bg-blue-le-100 h-3 leading-3">&nbsp;</div>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td class="text-left">
                                          <p class="m-0 text-15 leading-28 text-white all-font-sans">1 bed, 1 bath, 700sqft</p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="pb-6">
                                    <table class="w-full">
                                      <tr>
                                        <td class="w-24">
                                          <table class="w-8">
                                            <tr>
                                              <td>
                                                <div class="bg-blue-le-100 h-3 leading-3">&nbsp;</div>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td class="text-left">
                                          <p class="m-0 text-15 leading-28 text-white all-font-sans">Nicely Updated Kitchen</p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="pb-6">
                                    <table class="w-full">
                                      <tr>
                                        <td class="w-24">
                                          <table class="w-8">
                                            <tr>
                                              <td>
                                                <div class="bg-blue-le-100 h-3 leading-3">&nbsp;</div>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td class="text-left">
                                          <p class="m-0 text-15 leading-28 text-white all-font-sans">Newly Updated Bathroom</p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="pb-6">
                                    <table class="w-full">
                                      <tr>
                                        <td class="w-24">
                                          <table class="w-8">
                                            <tr>
                                              <td>
                                                <div class="bg-blue-le-100 h-3 leading-3">&nbsp;</div>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td class="text-left">
                                          <p class="m-0 text-15 leading-28 text-white all-font-sans">Hardwood Flooring</p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="pb-6">
                                    <table class="w-full">
                                      <tr>
                                        <td class="w-24">
                                          <table class="w-8">
                                            <tr>
                                              <td>
                                                <div class="bg-blue-le-100 h-3 leading-3">&nbsp;</div>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td class="text-left">
                                          <p class="m-0 text-15 leading-28 text-white all-font-sans">Large King Sized Bedroom</p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="pb-35 text-left">
                        <p class="m-0 text-15 leading-28 text-white all-font-sans">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" class="pb-35">
                        <table class="rounded-10 bg-blue-le-900">
                          <tr>
                            <td>
                              <table class="w-full">
                                <tr>
                                  <td class="py-10 px-20 leading-22 text-left font-bold text-white">
                                    <span class="text-18">$2,000</span>
                                    <span class="text-14 font-normal">/mo</span>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td>
                              <table>
                                <tr>
                                  <th class="bg-blue-le-100 hover-bg-blue-le-700 rounded-12" style="mso-padding-alt: 12px 25px;">
                                    <a href="https://example.com" class="block py-12 px-25 text-14 leading-20 no-underline text-white">MORE DETAILS</a>
                                  </th>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="h-40 sm-hidden"></td>
                    </tr>
                  </table>
                  <!-- END Article 2 -->

                  <!-- Article 3 -->
                  <table class="w-full">
                    <tr>
                      <td class="pb-35 text-left">
                        <h4 class="m-0 text-20 leading-26 font-semibold text-white">4578 Marmora Road, Glasgow D04 89GR</h4>
                      </td>
                    </tr>
                    <tr>
                      <td class="pb-35">
                        <table class="w-full">
                          <tr>
                            <th class="w-275 sm-block sm-w-full sm-pb-25 rounded-12">
                              <img src="luxury-estates/image3.jpg" width="275" alt="Marmora Road: Living Room" class="sm-w-full rounded-12">
                            </th>
                            <th class="pl-50 sm-p-0 sm-block sm-w-full font-normal">
                              <table class="w-full">
                                <tr>
                                  <td class="pb-6">
                                    <table class="w-full">
                                      <tr>
                                        <td class="w-24">
                                          <table class="w-8">
                                            <tr>
                                              <td>
                                                <div class="bg-blue-le-100 h-3 leading-3">&nbsp;</div>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td class="text-left">
                                          <p class="m-0 text-15 leading-28 text-white all-font-sans">2-bedroom apartment</p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="pb-6">
                                    <table class="w-full">
                                      <tr>
                                        <td class="w-24">
                                          <table class="w-8">
                                            <tr>
                                              <td>
                                                <div class="bg-blue-le-100 h-3 leading-3">&nbsp;</div>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td class="text-left">
                                          <p class="m-0 text-15 leading-28 text-white all-font-sans">1 bed, 1 bath, 700sqft</p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="pb-6">
                                    <table class="w-full">
                                      <tr>
                                        <td class="w-24">
                                          <table class="w-8">
                                            <tr>
                                              <td>
                                                <div class="bg-blue-le-100 h-3 leading-3">&nbsp;</div>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td class="text-left">
                                          <p class="m-0 text-15 leading-28 text-white all-font-sans">Nicely Updated Kitchen</p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="pb-6">
                                    <table class="w-full">
                                      <tr>
                                        <td class="w-24">
                                          <table class="w-8">
                                            <tr>
                                              <td>
                                                <div class="bg-blue-le-100 h-3 leading-3">&nbsp;</div>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td class="text-left">
                                          <p class="m-0 text-15 leading-28 text-white all-font-sans">Newly Updated Bathroom</p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="pb-6">
                                    <table class="w-full">
                                      <tr>
                                        <td class="w-24">
                                          <table class="w-8">
                                            <tr>
                                              <td>
                                                <div class="bg-blue-le-100 h-3 leading-3">&nbsp;</div>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td class="text-left">
                                          <p class="m-0 text-15 leading-28 text-white all-font-sans">Hardwood Flooring</p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="pb-6">
                                    <table class="w-full">
                                      <tr>
                                        <td class="w-24">
                                          <table class="w-8">
                                            <tr>
                                              <td>
                                                <div class="bg-blue-le-100 h-3 leading-3">&nbsp;</div>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                        <td class="text-left">
                                          <p class="m-0 text-15 leading-28 text-white all-font-sans">Large King Sized Bedroom</p>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="pb-35 text-left">
                        <p class="m-0 text-15 leading-28 text-white all-font-sans">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                      </td>
                    </tr>
                    <tr>
                      <td align="left" class="pb-35">
                        <table class="rounded-10 bg-blue-le-900">
                          <tr>
                            <td>
                              <table class="w-full">
                                <tr>
                                  <td class="py-10 px-20 leading-22 text-left font-bold text-white">
                                    <span class="text-18">$2,000</span>
                                    <span class="text-14 font-normal">/mo</span>
                                  </td>
                                </tr>
                              </table>
                            </td>
                            <td>
                              <table>
                                <tr>
                                  <th class="bg-blue-le-100 hover-bg-blue-le-700 rounded-12" style="mso-padding-alt: 12px 25px;">
                                    <a href="https://example.com" class="block py-12 px-25 text-14 leading-20 no-underline text-white">MORE DETAILS</a>
                                  </th>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="h-40 sm-hidden"></td>
                    </tr>
                  </table>
                  <!-- END Article 3 -->
                </td>
              </tr>
            </table>
            <!-- END Main -->

            <!-- Contact Us -->
            <table class="w-full">
              <tr>
                <td class="p-50 rounded-12 sm-py-30 sm-px-15 bg-blue-le-100">
                  <table class="w-full">
                    <tr>
                      <td class="pb-18">
                        <h3 class="m-0 text-22 leading-28 font-semibold text-white">Do not hesitate to contact me in case you have any questions regarding these offers.</h3>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-15 leading-28 text-white all-font-sans">
                        <p class="m-0">
                          You can call me anytime on <a href="tel:12345678910" class="font-bold no-underline text-white hover-underline">123-4567-8910</a>
                        </p>
                        <p class="m-0">
                          or email me at <a href="mailto:andew@luxuryestates.com" target="_blank" class="font-bold no-underline text-white hover-underline">andrew@luxuryestates.com</a>
                        </p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!-- END Contact Us -->

            <!-- Footer -->
            <table class="w-full">
              <tr>
                <td class="p-50 sm-py-30 sm-px-15">
                  <table class="w-full">
                    <tr>
                      <td class="pb-32">
                        <table class="w-full">
                          <tr>
                            <th class="w-170 sm-block sm-w-full sm-pb-25 sm-text-center">
                              <a href="https://example.com" target="_blank" class="no-underline">
                                <img src="luxury-estates/logo.png" width="160" alt="LuxuryEstates">
                              </a>
                            </th>
                            <th class="sm-block sm-w-full font-normal">
                              <table class="w-full sm-w-auto sm-mx-auto">
                                <tr>
                                  <td align="right">
                                    <table>
                                      <tr>
                                        <td class="px-12">
                                          <a href="https://example.com" class="no-underline">
                                            <img src="luxury-estates/ico_facebook.jpg" width="34" height="34" alt="">
                                          </a>
                                        </td>
                                        <td class="px-12">
                                          <a href="https://example.com" class="no-underline">
                                            <img src="luxury-estates/ico_twitter.jpg" width="34" height="34" alt="">
                                          </a>
                                        </td>
                                        <td class="px-12">
                                          <a href="https://example.com" class="no-underline">
                                            <img src="luxury-estates/ico_instagram.jpg" width="34" height="34" alt="">
                                          </a>
                                        </td>
                                        <td class="px-12 pr-0">
                                          <a href="https://example.com" class="no-underline">
                                            <img src="luxury-estates/ico_linkedin.jpg" width="34" height="34" alt="">
                                          </a>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <table class="w-full">
                          <tr>
                            <th class="w-370 sm-block sm-w-full sm-pb-25 text-left sm-text-center font-normal">
                              <p class="m-0 text-14 leading-28 text-gray-le-500">
                                LuxuryEstates - Free HTML Email Template
                                <br>
                                East Pixel Bld. 99, Creative City 9000, Republic of Design
                              </p>
                            </th>
                            <th class="w-160 sm-block sm-w-full sm-text-center align-bottom text-right font-normal">
                              <p class="m-0 text-14 leading-28 text-gray-le-500">
                                <a href="*|UNSUB|*" target="_blank" class="text-gray-le-500 underline hover-no-underline">Unsubscribe</a>
                              </p>
                            </th>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <!-- END Footer -->
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
{% endblock %}
